body{font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.6;
background: color #f9f9f9;;
color: #333;
}

header{
  background-color: #333;
  color: #fff;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 1rem 0;
  z-index: 1000;
}

header nav ul{list-style-type: none;}

header nav ul li{
  display: inline-block;
  margin-right: 20px;
}
footer{text-align: center;}






